body {
    overflow-x: hidden;
    width: 100%;
}

/* Banner */
.Inicio{
    background-image: url(/src/Assets/img/Fondo.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    box-sizing: border-box;
}

/* Introducción */
.Parte1 {
    height: 100vh;
    background-color: #1f2124;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.Datos {
    text-align: center;
    color: white;
}

.Barra{
    width: 100%;
    height: 1vh;
    border: 2px solid;
    border-radius: 50px;
    background-color: gray;
    margin-bottom: 2vh;
}
.Barras {
    margin: 100px;
    color: gray;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.Progreso_HTML{
    width: 70%;
    height: 4px;
    border-radius: 50px;
    background-color: gold;
    margin-bottom: 2vh;
}
.Progreso_Swift{
    width: 80%;
    height: 4px;
    border-radius: 50px;
    background-color: gold;
    margin-bottom: 2vh;
}
.Progreso_Python{
    width: 50%;
    height: 4px;
    border-radius: 50px;
    background-color: gold;
    margin-bottom: 2vh;
}
.Progreso_C{
    width: 30%;
    height: 4px;
    border-radius: 50px;
    background-color: gold;
    margin-bottom: 2vh;
}
.Progreso_JavaScript{
    width: 80%;
    height: 4px;
    border-radius: 50px;
    background-color: gold;
    margin-bottom: 2vh;
}

/* Gustos */
.Gustos{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Foto{
    justify-content: center;
    text-align: center;
} 
.Lista{
    text-align: center;
}
.ListaEstilo{
    font-size: 30px;
    padding: 0;
}

/* Experiencias */
.Parte2 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: lightgray;
    box-sizing: border-box;
}

/* Footer */
 .Parte3{
    background-color: black;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.BloqueContactoEstilo {
    background-color: black;
    margin: 2vh;
    padding-top: 2vh;
    text-align: center;
    color: white
}
.TituloContacto{
    padding-top: 10px;
    font-size: 15px;
} 